body {
    background: grey;
}

.new {
    height: 50px;
    width: 80px;
    background-color: blue;
    color: white;
}

@media only screen and (min-width: 550px) {
#board {
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}}

#sticky-container {
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    width: 300px;
}

#bar {
    height: 20px;
    width: 100%;
    background-color: orange;
}

#note-title {
    height: 30px;
    width: 300px;
    background-color: yellow;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

#note-content {
    height: 250px;
    width: 300px;
    background-color: white;
    font-size: 15px;
    margin: 0;
}


.saveBtn {
    background-color: green;
    height: 20px;
    width: 20px;
    border-radius: 3px;
    border-style: transparent;
}

.deleteBtn {
    margin-left: 10px;
    background-color: red;
    height: 20px;
    width: 20px;
    border-radius: 3px;
    border-style: transparent;
}


